<div>
  <h2>Preencha o formulário abaixo</h2>
  <div>
    <form [formGroup]="perfil">
      <div>
        <label type="text">Nome:</label>
        <br />
        <input
          class="form-control"
          formControlName="nome"
          type="text"
          name="nome"
          [(ngModel)]="formData.nome"
        />
      </div>
      <br />
      <div>
        <label type="text">Idade:</label>
        <br />
        <input
          class="form-control"
          formControlName="idade"
          type="number"
          name="idade"
          [(ngModel)]="formData.idade"
        />
      </div>
      <br />
      <div>
        <label type="text">Cidade</label>
        <br />
        <input
          class="form-control"
          formControlName="cidade"
          type="text"
          name="cidade"
          [(ngModel)]="formData.cidade"
        />
      </div>
      <br />
    </form>
    <div class="form-buttons">
      <button
        class="btn btn-primary"
        (click)="registerClient()"
        *ngIf="showBtn"
      >
        send form
      </button>
      <button class="btn btn-success" (click)="editClient()" *ngIf="!showBtn">Save</button>
      <button class="btn btn-danger" *ngIf="!showBtn">Delete</button>
      <button class="btn btn-secondary" (click)="cancelOperation()" *ngIf="!showBtn">Cancel</button>
    </div>
  </div>
  <br />

  <h2>Clientes Cadastrados</h2>
  <table class="table" *ngIf="showTable">
    <thead>
      <tr>
        <th>#</th>
        <th>Nome</th>
        <th>Idade</th>
        <th>Cidade</th>
        <th>Selecionar</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let c of clients; index as i">
        <td>{{ i + 1 }}</td>
        <td>{{ c.nome }}</td>
        <td>{{ c.idade }}</td>
        <td>{{ c.cidade }}</td>
        <td>
          <button class="btn btn-warning" (click)="selectClient(i)">
            Edit
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
