<div>
  <h2>Preencha o formulário abaixo</h2>
  <div>
    <form [formGroup]="perfil">
      <div>
        <label type="text">Nome:</label>
        <br/>
        <input class="form-control" formControlName="nome"  type="text"/>
      </div>
      <br/>
      <div>
        <label type="text">Idade:</label>
        <br/>
        <input class="form-control" formControlName="idade" type="text"/>
      </div>
      <br/>
      <div>
        <label type="text">Cidade</label>
        <br/>
        <input class="form-control" formControlName="cidade" type="text"/>
      </div>
      <br/>
    </form>
    <button
      class="btn btn-primary"
      (click)="obterDados()"
      *ngIf="btnCadastro"
      >send form</button>
  </div>
  <pre>
    {{data | json}}
  </pre>

  <table class="table">
    <thead>
      <tr>
        <th>#</th>
        <th>Nome</th>
        <th>Idade</th>
        <th>Cidade</th>
        <th>Selecionar</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let c of clients">
        <td></td>
        <td>{{c.nome}}</td>
        <td>{{c.idade}}</td>
        <td>{{c.cidade}}</td>
        <td><button class="btn btn-success">select</button></td>
      </tr>
    </tbody>
  </table>
</div>
