<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


<main class="main">
  <div>
    <div class="left-side">
      <p>🎉 Navegador de Componentes 🎉</p>
      <br/>
      <div class="button-box">
        <!-- <button (click)="navigateTo('')">home</button> -->
        <button (click)="navigateTo('old')">first steps</button>
        <button (click)="navigateTo('lazy')">prettier version</button>
      </div>
        <router-outlet />
    </div>
  </div>
</main>
